<table>
    <thead>
        <tr>
            <th>Grundegenskaper</th>
            <th>{{character.currentAttributeSum}}/{{character.maxAttributeSum}}</th>
        </tr>
    </thead>
    <tbody *ngIf="character.upbringing">
        <tr *ngFor="let attribute of character.upbringing.attributes">
            <td class="name">{{attribute.name}}<span></span></td>
            <td class="value">
                <button [disabled]="!character.upbringing.name ? 'disabled': null"
                    (click)="decreaseAttribute(attribute)">
                    -
                </button>
                <span>{{attribute.value}}</span>
                <button [disabled]="!character.upbringing.name ? 'disabled': null"
                    (click)="increaseAttribute(attribute)">
                    +
                </button>
            </td>
        </tr>
    </tbody>
</table>